<div class="media-container-row">
    <div class="mbr-text counter-container col-12 col-md-12 mbr-fonts-style display-12">
        <div class="d-flex flex-column">
            <div class="p-2"><p><strong>Hello</strong>
                - {{ 'HELLO' | translate }} </p>
            </div>

            <div class="p-2"><p><strong>Please</strong>
                - {{ 'PLEASE' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>Thank You</strong>
                - {{ 'THANK YOU' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>Excuse Me</strong>
                - {{'EXCUSE ME' | translate }}
            </div>
            <div class="p-2"><p><strong>Speak</strong>
                - {{'SPEAK' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>Where is</strong>
                - {{'WHERE IS' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>How Much</strong>
                - {{ 'HOW MUCH' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>I would like</strong>
                - {{ 'I WOULD LIKE' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>Cheque Please</strong>
                - {{ 'CHECK PLEASE' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>Help</strong>
                - {{ 'HELP' | translate }} </p>
            </div>
            <div class="p-2"><p><strong>Cheers</strong>
                - {{ 'CHEERS' | translate }} </p>
            </div>
        </div>
    </div>
</div>
