@import "~bootstrap/dist/css/bootstrap.css";
@import "~flag-icon-css/css/flag-icon.css";
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
.black {
    color: black;
}
.flag-icon {
    margin-left:10px;
}

